/* Header, footer */

header, footer {
  background-color: #7d0b15;
}

/* Navbar */

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
}

.nav-link, .dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

nav li {
  padding: 0 18px;
}

nav li.active, nav li.active:before {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
p,h3{
  color: white;
}
.text28{
  margin-left: 60px;
}
h1{
  font-family: 'Oswald', sans-serif;
}
h2{
  font-family: 'Alata', sans-serif;
}
h3{
  font-family: 'Anton', sans-serif;
}
.background-color1{
  background-color: #7d0b15
}
